.custom-select {
    position: relative;
    width: 200px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;

    margin-bottom: 15px;
}

.selected-option {
    padding: 10px;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 120px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.options.open {
    display: block;
}

.options li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.options li:hover {
    background-color: #f0f0f0;
}
