@use '../../styles/mixins' as m;
@use '../../styles/variables.scss' as v;
@use 'sass:math';

.header {
    @include m.flex-center();
    flex-direction: column
}
.header__container {
    width: 100%;
    height: 110px;
    @include m.flex-between();
}
.header__left-side {
    width: math.div(170, 1300) * 100%;
    @include m.flex-between();
}
.header__logo {
}
.header__site-name {
    @include m.text-bold(6);
    text-transform: uppercase;
    color: v.$green;
}
.header__search {
    border: 1px v.$grey solid;
}
.header__right-side {
    width: math.div(230, 1300) * 100%;

    @include m.flex-between();
}
.header__account-button {
}
.header__account-button-image {
}
.header__account-button-text {

}
.header__cart-button {
}
.header__cart-button-image {
}

.header__cart-button-text {

}
.header__navbar {
    width: 100%;
}
.header__navbar-element {
}