@use "sass:math";
@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.order-card {
    width: 100%;
    height: 180px;

    border: white 1px solid;

    @include m.flex-between();
}
.order-card__image {
    width: 130px;
    height: 130px;
}
.order-card__main-info {
    @include m.flex-between();
    flex-direction: column;
}
.order-card__title {
    @include m.text-bold(5px);
}
.order-card__about-order {
    @include m.flex-between();
    flex-wrap: wrap;
}
.order-card__info {
    margin-right: 80px;
    @include m.text-regular(4px);
}
.order-card__more {
    @include m.flex-between();
    flex-direction: column;

    width: math.div(210, 980);
}
.order-card__button {
    width: 100%;
    height: 36px;
}
.order-card__more-info {
    @include m.flex-between();
}
.order-card__price {
    @include m.text-regular(5px);
}
.order-card__stage {
    @include m.text-regular(4px);
}
