@use "../styles/variables" as v;
@use "../styles/mixins" as m;
@import url(../styles/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
    font-family: "Inter", sans-serif;
    @include m.text-regular(4px);
    color: white;
}

body {
    background-color: v.$black;
}

a {
    color: white;
}

.text-grey {
    color: v.$grey;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}
