@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "sass:math";

.modal {
    width: 100%;
    height: 100%;

    @include m.flex-center();

    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.modal__content {
    width: 560px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 30px 50px 40px;

    background-color: v.$black;
    border: white 1px solid;

    position: relative;
}

.modal__title {
    margin: 0 auto 15px;

    @include m.text-bold(5px);
}

.modal__form {
    width: 100%;
    display: flex;
    justify-content: center;

    flex-direction: column;
}

.modal__input-label {
    @include m.text-regular(4px);
    margin-bottom: 5px;

    color: v.$grey;
    opacity: 50%;
}
.modal__input {
    width: 100%;
    height: 30px;

    padding: 0 10px;
    margin-bottom: 10px;

    border: white 1px solid;
}
.modal__more-features {
    @include m.flex-between();

    margin-bottom: 30px;
}

.modal__remember {
    margin-right: 5px;
}

.modal__checkbox-label {
}

.modal__recover-password {
    color: v.$grey;
    text-decoration: underline;
}

.modal__buttons {
    @include m.flex-between();
}

.mb-30px {
    margin-bottom: 30px;
}

.modal__button {
    width: 180px;
    height: 30px;

    border: v.$green 1px solid;

    margin: 0 auto 15px;

    transition: all 0.1s linear;
}

.button__green {
    background-color: v.$green;
    color: v.$black;
}

.button__green:hover {
    background-color: transparent;
    color: white;
}

.button__black {
    background-color: transparent;
    color: white;
}

.button__black:hover {
    background-color: v.$green;
    color: v.$black;
}

.modal__error {
    display: flex;
    justify-content: center;

    color: rgb(255, 99, 99);

    margin-bottom: 10px;
}

.input-error {
    border: rgb(255, 99, 99) 1px solid;
}
