

.home {

}

.home__info {
    position: relative;
}
.home__info-image {

}

.home__info-arrows {
    width: 40px;
    height: 40px;

    position: absolute;
    top: 50%;
    z-index: 1;
}
.products-section {
}
.products-section__title {
}