@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "sass:math";

.not-found {
    height: 100vh;
    @include m.flex-center;
    flex-direction: column;
}

.not-found__image {
    width: math.div(860, 1920) * 100%;
    height: auto;
}

.not-found__text-bold {
    margin-bottom: 12px;

    @include m.text-bold(9px);
}

.not-found__text-regular {
    margin-bottom: 50px;

    @include m.text-regular(5px);
}

.not-found__button {
    @include m.flex-center;

    width: 371px;
    height: 56px;

    border: v.$green 2px solid;

    background-color: v.$green;
    color: v.$black;

    @include m.text-bold(5px);

    transition: all 0.1s linear;
}

.not-found__button:hover {
    background-color: transparent;
    color: white;
}
