@use "sass:math";
@use "../../../../styles/mixins" as m;
@use "../../../../styles/variables" as v;

.cart-card {
    width: 100%;
    height: 180px;

    bcart: white 1px solid;

    @include m.flex-between();
}
.cart-card__image {
    width: 130px;
    height: 130px;
}
.cart-card__main-info {
    @include m.flex-between();
    flex-direction: column;
}
.cart-card__title {
    @include m.text-bold(5px);
}
.cart-card__about-cart {
    @include m.flex-between();
    flex-wrap: wrap;
}
.cart-card__info {
    margin-right: 80px;
    @include m.text-regular(4px);
}
.cart-card__more {
    @include m.flex-between();
    flex-direction: column;

    width: math.div(210, 980);
}
.cart-card__button {
    width: 100%;
    height: 36px;
}
.cart-card__more-info {
    @include m.flex-between();
}
.cart-card__price {
    @include m.text-regular(5px);
}
.cart-card__stage {
    @include m.text-regular(4px);
}
