@use "sass:math";
@use "../../../styles/mixins" as m;

.account {
    @include m.flex-between;

    color: white;
    height: calc(100vh - 238px);
}

.account-container {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.account__page-title {
    @include m.text-bold(9px);

    margin-bottom: 50px;
}
