.account__navbar {
    min-width: 210px;
    height: 100%;

    display: flex;
    flex-direction: column;

    margin-right: 150px;

    white-space: nowrap;
}

.account__navbar-element {
    margin-bottom: 20px;
}

.logout-button {
    display: flex;
    justify-content: start;
}

.active {
    font-weight: 700;
}
