@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.order {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}
.order__data {
}
.order__form {
}

.order__container {
    width: 620px;

    border: v.$grey 1px solid;
    padding: 24px;

    margin-bottom: 65px;
}

.order__title {
    @include m.text-bold(5px);
    margin-bottom: 25px;
}
.order__label {
}

.order__textarea {
    width: 100%;

    display: flex;

    padding: 12px;
    margin-bottom: 25px;

    border: v.$grey 1px solid;

    resize: none;
}

.order__form-element {
    display: flex;
    align-items: center;

    width: 100%;
    height: 48px;

    padding: 0 12px;
    margin-bottom: 20px;

    border: v.$grey 1px solid;
}

.order__send-order {
    width: 100%;
    height: 45px;

    margin-bottom: 80px;

    background-color: v.$green;
    color: v.$black;
}

.order__cart-data {
    height: auto;
    padding: 24px;

    object-fit: cover;

    border: v.$grey 1px solid;
}
.order__cart-header {
    @include m.flex-between();
    margin-bottom: 36px;
}
.order__cart-pos-sum {
    font-weight: 700;
}
.order__cart-pos-count {
}

.order__cart-footer {
    @include m.flex-between();
}

.order__cart-price {
    margin-right: 10px;

    font-size: 20px;
}

.order__cart-price-sum {
    @include m.text-bold(5px);
}

.order-card {
    display: flex;
    margin-bottom: 24px;
}

.order-card__image {
    width: 70px;
    height: 70px;

    margin-right: 15px;

    object-fit: cover;
}
.order-card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.order-card__name {
}
.order-card__price {
}
