@use "../../../../styles/variables" as v;
@use "../../../../styles/mixins" as m;

.account-orders {
    width: 100%;
    height: 100%;
}

.no-orders {
    width: 100%;
    height: 25%;

    @include m.text-bold(9px);
    @include m.flex-center();
}
